absl-py==0.13.0
aiohttp==3.7.4.post0
altair==4.1.0
APScheduler==3.6.3
argon2-cffi==21.1.0
asgiref==3.4.1
astor==0.8.1
asttokens==2.0.5
async-timeout==3.0.1
attrs==21.2.0
backports.zoneinfo==0.2.1
base58==2.1.0
beautifulsoup4==4.6.0
bleach==4.1.0
blinker==1.4
blis==0.7.7
cachetools==4.2.2
catalogue==2.0.7
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.1
crispy-bootstrap5==0.6
cryptography==35.0.0
cycler==0.10.0
cymem==2.0.6
decouple==0.0.7
defusedxml==0.7.1
Distance==0.1.3
distlib==0.3.4
Django==3.2.7
django-allauth==0.45.0
django-cors-headers==3.12.0
django-crispy-forms==1.13.0
django-dal==1.0.0
django-environ==0.8.1
django-extensions==3.1.3
django-extra-views==0.14.0
django-filtersmerger==1.0.0
django-formtools==2.3
django-js-asset==2.0.0
django-markdownx==3.0.1
django-mathfilters==1.0.0
django-mptt==0.13.4
django-otp==1.1.3
django-phonenumber-field==6.0.0
django-sslserver==0.22
django-two-factor-auth==1.13.2
django-user-agents==0.4.0
django-webix==1.4.0
djangorestframework==3.13.1
docutils==0.18.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
entrypoints==0.3
et-xmlfile==1.1.0
executing==0.8.3
ffmpeg-python==0.2.0
ffprobe-python==1.0.3
filelock==3.5.0
fsspec==2021.8.1
future==0.18.2
gdown==3.13.0
gitdb==4.0.7
GitPython==3.1.23
google-api-core==2.0.1
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-cloud-speech==2.9.0
googleapis-common-protos==1.53.0
graphviz==0.19.2
grpcio==1.40.0
icecream==2.1.2
idna==3.2
imageio==2.16.1
ipywidgets==7.6.4
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
JPype1==1.2.0
jsonschema==3.2.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.1
kiwisolver==1.3.2
kobart @ git+https://github.com/SKT-AI/KoBART@0636edf20390cbc72e8f676c6e8aeee086fd4f95
konlpy==0.5.2
langcodes==3.3.0
libcst==0.3.21
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
mistune==0.8.4
multidict==5.1.0
murmurhash==1.0.6
mutagen==1.45.1
mypy-extensions==0.4.3
mysqlclient==2.1.0
nbclient==0.5.4
nbconvert==6.1.0
nbformat==5.1.3
networkx==2.6.3
nltk==3.6.5
notebook==6.4.3
numpy==1.21.2
oauthlib==3.1.1
openpyxl==3.0.9
packaging==21.0
pandas==1.3.2
pandocfilters==1.4.3
pathy==0.6.1
Pillow==8.3.2
platformdirs==2.5.0
pluggy==1.0.0
preshed==3.0.6
prometheus-client==0.11.0
proto-plus==1.19.0
protobuf==3.17.3
py==1.11.0
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.13.0
pydantic==1.8.2
pydeck==0.7.0
pyDeprecate==0.3.0
PyJWT==2.3.0
pyparsing==2.4.7
pyrsistent==0.18.0
PySocks==1.7.1
pytextrank==3.2.3
python-dateutil==2.8.2
python-docx==0.8.11
python-telegram-bot==13.12
python3-openid==3.2.0
pytorch-lightning==1.2.1
pytz==2021.1
PyWavelets==1.3.0
pywin32==228
pywinpty==1.1.4
PyYAML==5.3.1
qrcode==7.3.1
rank-bm25==0.2.2
regex==2021.8.28
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
s3transfer==0.1.13
sacremoses==0.0.45
scikit-image==0.19.2
scikit-learn==1.1.1
scipy==1.7.1
Send2Trash==1.8.0
shortuuid==1.0.8
smart-open==5.2.1
smmap==4.0.0
sorl-thumbnail==12.8.0
spacy==3.2.4
spacy-legacy==3.0.9
spacy-loggers==1.0.2
sqlparse==0.4.1
srsly==2.4.2
streamlit==0.72.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
terminado==0.12.1
testpath==0.5.0
thinc==8.0.15
tifffile==2022.4.8
tinytag==1.7.0
tokenizers==0.10.3
toml==0.10.2
toolz==0.11.1
torch==1.7.1
torchmetrics==0.5.1
tqdm==4.62.2
transformers==4.3.3
tweepy==3.10.0
typer==0.4.1
typing-extensions==3.10.0.2
typing-inspect==0.7.1
tzdata==2021.1
tzlocal==3.0
ua-parser==0.10.0
urllib3==1.26.6
user-agents==2.2.0
validators==0.18.2
virtualenv==20.13.1
waitress==2.0.0
wasabi==0.9.1
watchdog==2.1.5
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
Wikipedia-API==0.5.4
wincertstore==0.2
wordcloud==1.8.1
xlwings==0.24.9
yarl==1.6.3
