{% extends 'interviews/interviews_base.html' %}
{% load mathfilters %}
{% block css_content %}
<style>
textarea.autosize
{
    border:1px solid #999999;
    width:98%;
    margin:5px 0;
    padding:1%;
}

</style>

{% endblock %}

{% block main_area %}

<div class="row mb-1" >
        {% if mode == "view" %}
       <h5> <center >
          대화제목 : {{ interviews.title }}
        </center></h5><br>
        {% elif mode == "edit" %}
        <form method="post" enctype="multipart/form-data">
            <label for="id_title" class="form-label" style="padding-top:6; float:left;">대화 제목</label>  
            <div class="row mb-2">
              <div class="col-9">
                <input type="text" value="{{ interviews.client_name }}" id="id_client_name" name="client_name" style="display:none;">                  
                
                <input type="text" class="form-control" name="title" id="id_title" value="{{ interviews.title }}">
              </div>
              
            </div>  
        </form>
        {% endif %}

</div>

<div class="row" style="margin-bottom: 0px;">
    <div class="col-12 col-lg-5">
            {% if interviews.confidence != 0 and interviews.confidence != null %}
            <center>
            <span class="btn-secondary border-0 mb-0 px-1 py-1" role="alert" style="font-size:small; text-align: left;"
            data-bs-container="#tooltip-container2" data-bs-toggle="tooltip" data-bs-placement="right" title="-&nbsp;&nbsp;신뢰도를 향상시키는 TIP&nbsp;&nbsp;- *마이크 가까이, 주변소음제거 *여러명 동시발언 자제">
                신뢰도 {{ interviews.confidence|div:10 }}</span>
             <i class="fas fa-lightbulb fa-sm" style="color:#0d6ef4;">&nbsp;좋음</i>
                <i class="fas fa-lightbulb fa-sm" style="color:#20c997;">&nbsp;보통</i>
                    <i class="fas fa-lightbulb fa-sm" style="color:#ff5733;">&nbsp;나쁨</i>
            </center>
            {% endif %}
    </div>
    <div class="dropdown col-12 col-lg-7">

        <button type="button" class="btn btn-info rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 3px; font-size:small; padding:3">
        <i class="mdi mdi-wrench"></i>상담이동
        </button>
        <div class="dropdown-menu" >
            <form class="px-4 py-3" id="id_nameForm" method="post" enctype="multipart/form-data" name="nameForm" >
            {% csrf_token %}
                <div class="mb-3" >
                    <input type="text" value="{{ interviews.title }}" id="id_title" name="title" style="display:none;">
                    <label for="id_client_name2" class="form-label">이동대상선택</label>
                    <select class="form-select" id="id_client_name2" name="client_name2" value="{{ client_name }}">
                        {% for client in clients_list %}
                            {% if client.name != "고객미정" and user.username == client.counselor.username %}
                            <option>{{ client.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="row"><button id="button1" class="btn btn-info rounded-pill" style="margin-top: 34px; font-size:small; padding:3" type="submit" >
                <i class="mdi mdi-wrench"></i>이동</button></div>'
            </form>
        </div>

        &nbsp<button type="button" class="btn btn-info rounded-pill dropdown-toggle" onClick="role_view2();" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 3px; font-size:small; padding:3">
        <i class="mdi mdi-wrench"></i>화자변경
        </button>

        <div class="dropdown-menu">
            <form class="px-4 py-3" method="post" enctype="multipart/form-data" id="id_diazForm" >
            {% csrf_token %}

                <div id="role_group">
                </div>
                <input type="text" value="{{ interviews.title }}" id="id_title" name="title" style="display:none;">
                <input type="text" value="{{ interviews.client_name }}" id="id_client_name" name="client_name" style="display:none;">
                <div class="row">
                    <button id="button2" class="btn btn-info rounded-pill" style="margin-top:10px; padding:5;" type="submit" >
                    <i class="mdi mdi-wrench"></i>변경</button>
                </div>
            </form>
        </div>

        &nbsp<button type="button" class="btn btn-info rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 3px; font-size:small; padding:3">
        <i class="mdi mdi-wrench"></i>화자추가
        </button>

        <div class="dropdown-menu px-4 py-3">

                <div class="row mb-2">
                    <div class="col-3"><label class="form-label" style="margin-top:3;">화자</label></div>
                    <div class="col-9"><input type="text" id="new_speaker" class="form-control" style="margin-top: 1px; padding:2;"></div>
                </div>
                <div class="row">
                    <button id="add_spk" class="btn btn-info rounded-pill" onClick="add_speaker();" style="margin-top:10px; padding:5;">
                    <i class="mdi mdi-wrench"></i>추가</button>
                </div>


        </div>
    </div>
</div>

<div style="display:none;">
    <form class="px-4 py-3" method="post" enctype="multipart/form-data" id="add_speaker">
        {% csrf_token %}
    </form>
</div>

<hr>

<div class="row">
    <div class="col-5">
        <button id='sentmode' onclick="changeMode();"  type="button" class="btn btn-success btn-sml" style="margin-top: 3px; font-size:small; padding:3; display:none;">
        <i class="fa fa-exchange-alt"></i>뷰모드</button>
        <button id="sentsave" onclick="contentSave();" type="button" class="btn btn-success btn-sm" style="margin-top: 3px; font-size:small; padding:3; display:none;">
        <i class="dripicons-document" ></i>내용저장</button>

    </div>

</div>

<div id="voice_load" class="alert alert-light col-4" role="alert" style="margin-top:3px;padding:3px; font-size:small;">
    <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
    <strong>음성파일 로딩중 ....</strong>
</div>

<div style="display:none;" id="idTable">
    <form method="post" enctype="multipart/form-data" id="sentform" >
        {% csrf_token %}
    </form>
    <div class="chat-message-right pb-4" id="senttr"> </div>
</div>

<div class="chat-message-right pb-4" id="sentli">

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.1/howler.min.js"></script>
<script type="text/javascript">

var aud;

var sents;
var sentmode = document.getElementById("sentmode");
//var vsentences = document.getElementsByClassName('vsentence');
var isentences = document.getElementsByClassName('isentence');

var autoplay = 0;
var speakers;

var msrc='';

function KeyCheck(obj, ckey) {
    var ech = [ 33,34,35, 36,37,38,39,47,59,63,64,92,94,96,123,124,125];
    console.log(ckey);
    for(value of ech) {

        if(ckey==value) {
            alert("특수문자 입력불가!");
            return false;
            var event = document.createEvent("Events");
            event.initEvent('keydown', true, true);
            event.keyCode = 8;
            obj.dispatchEvent(event);
            alert("특수문자 입력불가!");

            //location.href='/interviews/detail/view/{{ interviews.pk }}/'
        }
    }
}
function SpeakerChk() {
    var pattern_spc = /[ \{\}\[\]\/?.,;:|\)*~`!^\-_+┼<>@\#$%&\'\"\\\(\=]/gi;
    try {
        $('.speaker-list').each( function (index, item) {
            str = $(item).val()
            if( pattern_spc.test(str) ) {
            alert("특수문자 입력불가!");
            location.href='/interviews/detail/view/{{ interviews.pk }}/'
            return false;
            }
        });
    } catch (e) {
        alert(`다음과 같은 에러가 발생했습니다: ${e.name}: ${e.message}`);
        return false;
    }

}


function changeMode() {

    if ('{{ mode }}' == 'view') {

        location.href='/interviews/detail/edit/{{ interviews.pk }}/'
    }
    else if ('{{ mode }}' == 'edit') {

        location.href='/interviews/detail/view/{{ interviews.pk }}/'
    }
}

window.onload = function() {
    
    if ( "{{ interviews.file_upload }}"!='') {
        msrc = "/media/{{ interviews.file_upload.name }}";
    }
    else msrc = "https://kr.object.ncloudstorage.com/fingerai-dev/{{ interviews.object_path }}";   

    aud = new Howl({
    src: msrc,
    volume: 1.0
    });

    aud.on('load', function(){
        console.log('Audio Loaded');
        $('#voice_load').attr("style","display:none;")
    });

    aud.on('loaderror', function(){
        console.log('Audio Load Error!!');
        $('#voice_load').attr("class","alert alert-danger col-4")
        $('#voice_load').html("<strong>&nbsp;&nbsp;음성이 지원되지 않는 파일입니다.</strong>");
    });  
   
    sents = '{{ intv_sentence }}'.replace(/&quot;/g,'"').replace(/&#39;/g,"'").replace(/&#x27;/g,"'")

    sents = JSON.parse(sents);
    $('#refill_img').before('<img src="/media/symbol/diag_listen.png" style="width: 85%; height: auto; margin-bottom:5px;">');
    if ( '{{ mode }}' == 'view') { good_sent('view'); }
    else if  ( '{{ mode }}' == 'edit') {
        $('#refill_img').before('<img src="/media/symbol/diag_edit.png" style="width: 85%; height: auto; margin-bottom:5px;">');
        good_sent('edit');
    }

    submit_name();
    submit_diaz();

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })

}

function blobToFile(theBlob, fileName){       
    return new File([theBlob], fileName, { lastModified: new Date().getTime(), type: theBlob.type })
}

function loadFile(fpath) {

  var result = null;
  var xmlhttp = new XMLHttpRequest();
  xmlhttp.open("GET", filePath, false);
  xmlhttp.send();
  if (xmlhttp.status==200) {
    result = xmlhttp.responseText;
  }
  return result;
}

function submit_name() {
  $("#id_nameForm").submit(function(e){

    var formData1 =new FormData(document.getElementById("id_nameForm"));

    formData1.append('client_name',document.getElementById("id_client_name2").value);

    $.ajax({
        contentType : false,
        processData : false,
        data : formData1,
        url : "/interviews/detail/view/{{ interviews.pk }}/",
        type : 'POST',
        success: function (data) {
            window.location.replace("/interviews/detail/view/{{ interviews.pk }}/");
        },
        error: function (xhr, status) {
            alert(xhr + " : " + status);
        }
    });
    return false;
  });
};

function submit_diaz() {
  $("#id_diazForm").submit(function(e){

    var formData2 =new FormData(document.getElementById("id_diazForm"));
    formData2.append('client_name','{{ client_info.name }}');
    formData2.append('speakers','{{ interviews.speakers }}');

    var speakers_list = new Array();

    for(var i=0; i<speakers.length; i++) {
        var data = new Object();
        sid = '#id_role_label'+i;
        data.label = speakers[i].label;
        data.name = $(sid).val();
        speakers_list.push(data);
    }

    var speakers_json = JSON.stringify(speakers_list);
    formData2.append('speakers',speakers_json);

    $.ajax({
        contentType : false,
        processData : false,
        data : formData2,
        url : "/interviews/detail/view/{{ interviews.pk }}/",
        type : 'POST',
        success: function (data) {
            window.location.replace("/interviews/detail/view/{{ interviews.pk }}/");
        },
        error: function (xhr, status) {
            alert(xhr + " : " + status);
        }
    });
    return false;
  });
};


function good_sent(mode) {
  var output = '';
  var sent_tr = document.getElementById('sentli');
  var table1 = document.getElementById('idTable');
  var btn_save = document.getElementById('sentsave');
  var i;
  sent_tr.innerHTML = '';
  prev_name = "none";

  if ( mode == 'view') {

    sentmode.innerHTML = '<i class="fa fa-exchange-alt"></i>&nbsp편집';
    sentmode.setAttribute('style',"margin-top: 3px; font-size:small; padding:3;");
    table1.setAttribute("style", "display:none;");
    btn_save.setAttribute('style',"margin-top: 3px; font-size:small; padding:3; display:none;");

    for(i=0; i<sents.length; i++) {
        if (sents[i].text!='') {
            if( sents[i].name != prev_name) {
                output+= '<div class="text-muted text-nowrap mt-2"><b>' + sents[i].name + String(sents[i].sent_no).padStart(3,'0')+'&nbsp&nbsp</b>';
                output+= Math.floor((sents[i].start)/60000) + "'" + Math.floor(((sents[i].start)%60000)/1000) + "''" + '</div>'
             }

            output+='<div class="row"><div class="col-12 py-1 px-3 bg-light rounded" ondblclick="playat(' + i + ');">'

            if ( 'confidence' in sents[i] && sents[i].confidence!=0) {
                if(sents[i].confidence > 0.85) output+='<i class="fas fa-lightbulb fa-sm" style="color:#0d6ef4;"></i>&nbsp&nbsp'
                else if (sents[i].confidence > 0.6) output+='<i class="fas fa-lightbulb fa-sm" style="color:#20c997;"></i>&nbsp&nbsp'
                else output+='<i class="fas fa-lightbulb fa-sm" style="color:#ff5733;"></i>&nbsp&nbsp'
            }

            output+= sents[i].sentence + '</div>'

            output+= '</div>'
            prev_name = sents[i].name;
        }
    }
  }
  else if ( mode == 'edit') {
    sentmode.innerHTML = '<i class="fa fa-exchange-alt"></i>&nbsp돌아가기';
    sentmode.setAttribute('style',"margin-top: 3px; font-size:small; padding:3;");
    table1.setAttribute("style", "display;");
    sent_tr = document.getElementById('senttr');
    speakers = JSON.parse('{{ interviews.speakers }}'.replace(/&quot;/g,'"').replace(/&amp;quot;/g,'"').replace(/&#39;/g,'"').replace(/&#x27;/g,'"'));
    btn_save.setAttribute('style',"margin-top: 3px; font-size:small; padding:3;");
    for(var i=0; i<sents.length; i++) {
        if (sents[i].text!='') {
            if( sents[i].name != prev_name) {
                //output+= '<div class="text-muted text-nowrap mt-2"><b>' + sents[i].name + String(sents[i].sent_no).padStart(3,'0')+'&nbsp&nbsp</b>'
                output+= '<div class="text-muted text-nowrap mt-2"><b>' + sents[i].name +'&nbsp&nbsp</b>'
                output+= Math.floor((sents[i].start)/60000) + '\'' + Math.floor(((sents[i].start)%60000)/1000) + '\'\'' + '</div>'
             }

            if ( ( sents[i].quiet_time >= $('#quiet_basis').val() ) && $('#quiet_basis').val() >0 )  output+= '<h4><span class="badge bg-info">침묵'+ sents[i].quiet_time + '초</span></h4>'
            output+= '<div class="row">'
            if ( 'confidence' in sents[i]  && sents[i].confidence!=0 ) {
                output+='<div class="col-1 pt-2">'
                if(sents[i].confidence > 0.85) output+='<i class="fas fa-lightbulb fa-sm" style="color:#0d6ef4;"></i>&nbsp&nbsp'
                else if (sents[i].confidence > 0.6) output+='<i class="fas fa-lightbulb fa-sm" style="color:#20c997;"></i>&nbsp&nbsp'
                else output+='<i class="fas fa-lightbulb fa-sm" style="color:#ff5733;"></i>&nbsp&nbsp'
                output+='</div>'
            }
            output+='<div class="col-8">'

            output+= '<textarea class="isentence autosize" gened="false" cols="100" ondblclick="iplayat('+i+');" '
            output+= 'onclick="resize(this);" onkeyup="sent_split(this, ' + i + ', \'' + sents[i].name +'\')">'   //"sent_split(this, ' + i + ')">'
            output+= sents[i].sentence+'</textarea>'
            output+= '</div>'
            output+= '<div class="col-3 py-1 px-3 rounded"><select class="form-select opts" aria-label="Default select example">'
            //output+= '<div class="col-3 py-1 px-3 rounded"><select id="opt' + i + '" class="form-select" aria-label="Default select example">'
            for(var j=0; j<speakers.length; j++) {
                if(sents[i].name == speakers[j].name)
                    output+= '<option selected value="' + speakers[j].label+ '">' + speakers[j].name + '</option>'
                else  output+= '<option value="' + speakers[j].label+ '">' + speakers[j].name + '</option>'
            }
            output+= '</select></div></div>'
            prev_name = sents[i].name
        }
    }
  }

  sent_tr.innerHTML = output;
};



function playatd(i) {}

function iplayatd(i) {}

var timer;

var tempi=0;
function playat(i) {

    if(aud.playing()==true) {
        aud.stop();
        return;
    }

    //if( i == vsentences.length) return;

    start = Math.floor(sents[i].start/1000);
    //dur = sents[i].end-sents[i].start + (sents[i].start%1000);
    aud.seek(start);

    aud.play();

}



function iplayat(i) {
    if(aud.playing()==true)  { aud.stop(); return; }
    if( i == isentences.length) return;
    start = Math.floor(sents[i].start/1000);
    //dur = sents[i].end-sents[i].start + (sents[i].start%1000);
    aud.seek(start);

    aud.play();

}

function resize(obj) {
  obj.style.height = "1px";
  obj.style.height = (12+obj.scrollHeight)+"px";
  str = obj.innerHTML;
}

function sent_split(obj, i, sname) {
  obj.style.height = "1px";
  obj.style.height = (12+obj.scrollHeight)+"px";
  // left ctl : 17,  enter :13
  var output = '';

  if( event.keyCode == 13 && event.shiftKey) {
    str = $(obj).val();

    nidx = str.indexOf('\n');
    $(obj).val(str.substring(nidx+1,str.length))   // str.substring(0,nidx)

    gen_attr = '';
    if ( $(obj).attr('gened') == "true") gen_attr = "true";
    else gen_attr = "false";

    $(obj).attr('gened', "true");
    //console.log("key: ctrl enter "+ nidx);
    output+= '<div class="row"><div class="col-1 pt-2"></div><div class="col-8">'
    output+= '<textarea class="isentence autosize" cols="100" gened="' + gen_attr + '" ondblclick="iplayat('+i+');" onchange="this.focus();" onclick="resize(this);" onkeyup="sent_split(this, ' + i + ')">'
    output+= str.substring(0,nidx)+'</textarea>'   // enter code 13 is inserted
    output+= '</div>'
    output+= '<div class="col-3 py-1 px-3 rounded"><select class="form-select opts" aria-label="Default select example">'

    for(var j=0; j<speakers.length; j++) {
        if ( sname == speakers[j].name )     output+= '<option selected value="' + speakers[j].label+ '">' + speakers[j].name + '</option>'
        else  output+= '<option value="' + speakers[j].label+ '">' + speakers[j].name + '</option>'
    }
    output+= '</select></div></div>'

    //$(obj).parent().parent().after(output);
    $(obj).parent().parent().before(output);
    //$(obj).focus();
    //$(obj).selectRange(0,0);
  }
  else if ( event.keyCode == 46 && event.shiftKey) {     // delete key
    console.log("Delete + Alt key"+$(obj).html());
    //$(obj).parent().parent().empty();
    $(obj).parent().parent().remove();
  }

}


function contentSave() {
    var sentences = document.getElementsByClassName('isentence');
    var sentenceList = new Array() ;
    for (var i=0; i<sentences.length; i++) {
        var data = new Object() ;
        //oid = '#opt'+i+' option:selected'
        oid = '.opts:eq(' + i + ') option:selected'
        console.log(oid)
        data.speaker = $(oid).val();
        console.log(data.speaker);
        //data.sentence = sentences[i].innerHTML ;
        //data.speaker = sents[i].name ;
        data.sentence = sentences[i].value;
        data.generated = sentences[i].getAttribute("gened");
        sentenceList.push(data) ;
    }

    // String 형태로 변환
    var jsonData = JSON.stringify(sentenceList) ;
    //alert(jsonData);
    //var formData =new FormData(document.getElementById("isentence"));
    var formData =new FormData(document.getElementById("sentform"));
    formData.append('all_sentence',jsonData);
    formData.append('quiet_basis', $('#quiet_basis').val());
    formData.append('title', $('#id_title').val());

    $.ajax({
        contentType : false,
        processData : false,
        data : formData,
        url : "/interviews/sentenceupdate/{{ interviews.pk }}/",
        type : 'POST',
        success: function (data) {
            console.log(data);
            window.location.replace("/interviews/detail/view/{{ interviews.pk }}/");
        },
        error: function (xhr, status) {
            alert(xhr + " : " + status);
        }
    });
    return false;
}

function add_speaker() {
    var formData =new FormData(document.getElementById("add_speaker"));
    formData.append('new_speaker', $('#new_speaker').val());
    $.ajax({
        contentType : false,
        processData : false,
        data : formData,
        url : "/interviews/addspeaker/{{ interviews.pk }}/",
        type : 'POST',
        success: function (data) {
            console.log(data);
            window.location.replace("/interviews/detail/edit/{{ interviews.pk }}/");
        },
        error: function (xhr, status) {
            alert(xhr + " : " + status);
        }
    });
    return false;
}


function role_view2() {
  var role_mark = document.getElementById('role_group');

  speakers = JSON.parse('{{ interviews.speakers }}'.replace(/&quot;/g,'"').replace(/&amp;quot;/g,'"').replace(/&#39;/g,'"').replace(/&#x27;/g,'"'));

  var output = '';
  for(var i=0; i<speakers.length; i++) {
    output+='<div class=\"row mb-2\">';
    output+='<div class=\"col-3\"><label for=\"id_role_label'+i+'\" class=\"form-label\" style=\"margin-top:3;\">화자'+speakers[i].label+'</label></div>';
    output+='<div class=\"col-9\"><input type=\"text\" class="form-control speaker-list" style=\"margin-top: 1px; padding:2;\" name=\"role_label'+i+ '\" id=\"id_role_label'+i+'\" value=\"'+ speakers[i].name+'\" onkeypress="return KeyCheck(this,event.keyCode);"></div>';
    output+= '</div>';
  }
  role_mark.innerHTML = output;
}


  </script>

{% endblock %}

