{% extends 'interviews/interviews_base.html' %}
{% block main_area %}

<div class="row" >
    <div class="col-10" >
      <h4><center> {{ interviews.title }} </center></h4>
    </div>
</div>

<div class="row" style="margin-bottom: 3px;">
    <div class="col-2 col-lg-7"></div>
    <div class="dropdown col-10 col-lg-5">
        <a href="/interviews/verbatim/{{ interviews.pk }}" onclick="buttonClick()" id="vdown">
            <button id="vbutton" type="button" class="btn btn-info rounded-pill" style="margin-top: 34px; font-size:small; padding:3">
        <i class="dripicons-document" ></i><a1 id="btext">축어록생성</a1></button></a>

        <button type="button" class="btn btn-info rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 34px; font-size:small; padding:3">
        <i class="mdi mdi-wrench"></i>상담이동
        </button>
        <div class="dropdown-menu" >
            <form class="px-4 py-3" id="id_nameForm" method="post" enctype="multipart/form-data" name="nameForm" >
            {% csrf_token %}
                <div class="mb-3" >
                    <label for="id_client_name2" class="form-label">이동대상선택</label>
                    <select class="form-select" id="id_client_name2" name="client_name2" value="{{ client_name }}">
                        {% for client in clients_list %}
                            {% if client.name != "고객미정" and user.username == client.counselor.username %}
                            <option>{{ client.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="row"><button id="button1" class="btn btn-info rounded-pill" style="margin-top: 34px; font-size:small; padding:3" type="submit" >
                <i class="mdi mdi-wrench"></i>이동</button></div>'
            </form>
        </div>

        &nbsp<button type="button" class="btn btn-info rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 34px; font-size:small; padding:3">
        <i class="mdi mdi-wrench"></i>화자변경
        </button>

        <div class="dropdown-menu">
            <form class="px-4 py-3" method="post" enctype="multipart/form-data" id="id_diazForm">
            {% csrf_token %}

                <div id="role_group">
                </div>
                <div class="row">
                    <button id="button2" class="btn btn-info rounded-pill" style="margin-top:10px; padding:5;" type="submit" >
                    <i class="mdi mdi-wrench"></i>변경</button>
                </div>
            </form>
        </div>

    </div>
</div>


      <!--div class="row" style="margin-bottom: 3px;">
        <div class="col-4" >
          <a class="dropdown-item" href="/interviews/verbatim/{{ interviews.pk }}" onclick="buttonClick()">
            <button type="button" class="btn btn-outline-success" style="margin-top: 1px; padding: 2px;">
              <i class="dripicons-document" ></i> <span>축어록생성</span> </button></a>
        </div>
        <label for="id_client_name" class="col-3 col-form-label" style="margin-top: 7px; padding: 2px; text-align: right">고객명</label>
        <div class="col-3">
          <input type="text" class="form-control" name="client_name" id="id_client_name" style="margin-top: 5px; padding:2" value={{ client_info.name }}>
        </div>
        <div class="col-2">
          <button id="button" class="btn btn-info rounded-pill" style="margin-top: 5px; font-size:small; padding:3" type="submit">
            <i class="mdi mdi-wrench"></i>변경</button>
        </div>
     </div-->
          <hr>

<table class="table table-hover">
  <thead>
    <tr>
      <th width="80px" id="id_th01"><center>화자</center> </th>
      <th width="100px" ><center>발화시간</center></th>
      <th ><center>발화내용</center></th>
      <!--th ><center>감정</center></th-->
    </tr>
  </thead>
  <tbody  id="senttr">

  </tbody>
</table>

<script type="text/javascript">

//var audio = new Audio('/media/{{ interviews.file_upload.name }}');
var sents = JSON.parse('{{ interviews.content_div}}'.replace(/&quot;/g,'"'));

function playat(saudio, eaudio) {
   // audio.autoplay = true;
   // audio.currentTime = Math.floor(saudio/1000) ;
   // audio.load();
   // audio.currentTime = 12 ;
   // audio.play();
};

window.onload = function() {
    var speakers;

    //document.getElementById("id_th01").hide();
    good_sent();
    role_view2();
    submit_name();
    submit_diaz();
}


function buttonClick() {
  var obj1= document.getElementById("vdown");
  btext= document.getElementById("btext");
  //obj1.setAttribute('style','background-color:rgba(0,99,255,0.60); cursor:progress');
  obj1.setAttribute('style','cursor:progress');
  obj1.setAttribute('onclick','javascript:void(0);');
  document.getElementById("vbutton").setAttribute("disabled","true");
  btext.innerHTML =  '<span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>생성중...'
  //setTimeout(function(){
  // obj1.setAttribute('href','javascript:void(0);');
  //}, 10);
}



function submit_name() {
  $("#id_nameForm").submit(function(e){
    //e.preventDefault();
    var formData1 =new FormData(document.getElementById("id_nameForm"));
    //var formData =new FormData($("#id_nameForm")[0]);
    formData1.append('client_name',document.getElementById("id_client_name2").value);
    formData1.append('client_comment','{{ client_info.comment }}');
    formData1.append('role_label0','{{ interviews.role_label0 }}');
    formData1.append('role_label1','{{ interviews.role_label1 }}');
    formData1.append('role_label2','{{ interviews.role_label2 }}');
    formData1.append('role_label3','{{ interviews.role_label3 }}');
    formData1.append('role_label4','{{ interviews.role_label4 }}');
    //log1.innerHTML = log1.innerHTML+"CommentHas:"+formData.has('id_client_comment')+'1){{ interviews.client_name }}:2){{ client_info.comment }}:3){{ interviews.role_label0 }}';

    $.ajax({
        contentType : false,
        processData : false,
        data : formData1,
        url : "/interviews/update/{{ interviews.pk }}/",
        type : 'POST',
        success: function (data) {
            window.location.replace("/interviews/update/{{ interviews.pk }}/");
        },
        error: function (xhr, status) {
            alert(xhr + " : " + status);
        }
    });
    return false;
  });
};

function submit_diaz() {
  $("#id_diazForm").submit(function(e){
    //e.preventDefault();
    var formData2 =new FormData(document.getElementById("id_diazForm"));
    formData2.append('client_name','{{ client_info.name }}');
    formData2.append('client_comment','{{ client_info.comment }}');

    formData2.append('role_label0','{{ interviews.role_label0 }}');
    formData2.append('role_label1','{{ interviews.role_label1 }}');
    formData2.append('role_label2','{{ interviews.role_label2 }}');
    formData2.append('role_label3','{{ interviews.role_label3 }}');
    formData2.append('role_label4','{{ interviews.role_label4 }}');

    for(var i=0; i<speakers.length; i++) {
        formData2.set('role_label'+i, document.getElementById("id_role_label"+i).value);
    }

    $.ajax({
        contentType : false,
        processData : false,
        data : formData2,
        url : "/interviews/update/{{ interviews.pk }}/",
        type : 'POST',
        success: function (data) {
            window.location.replace("/interviews/update/{{ interviews.pk }}/");
        },
        error: function (xhr, status) {
            alert(xhr + " : " + status);
        }
    });
    return false;
  });
};


function good_sent() {
  //var sents = JSON.parse('{{ interviews.content_div}}'.replace(/&quot;/g,'"'));
  var output = '';

  var sent_tr = document.getElementById('senttr');
  for(var i=0; i<sents.length; i++) {
    if (sents[i].text!='') {
      output+='<tr>';
      output+='<td style=\'font-size:medium\'><center>' + sents[i].name + String(sents[i].sent_no).padStart(3,'0') + '</center></td>';
      output+='<td style=\'font-size:medium\'><center>' + Math.floor((sents[i].start)/60000)+'\''+ Math.floor(((sents[i].start)%60000)/1000) +'\'\''+'</center></td>';
      output+='<td onclick=\'playat(' + sents[i].start+',' + sents[i].end+');\' style=\'font-size:medium\'>' + sents[i].sentence +'</td>';
      //output+='<td style=\'font-size:medium\'>' + sents[i].senti +'</td>';
      output+='</tr>';
    }
  }
  sent_tr.innerHTML = output;
};

function role_view() {
  var role_mark = document.getElementById('role_group');
  var conts = JSON.parse('{{ interviews.content }}'.replace(/&quot;/g,'"'));
  speakers = conts.speakers;
  var output = '';
  for(var i=0; i<speakers.length; i++) {
    output+='<div class=\"col\">';
    output+='<label for=\"id_role_label'+i+'\" class=\"form-label\">화자'+speakers[i].label+'</label>';
    output+='<input type=\"text\" class="form-control" style=\"margin-top: 1px; padding:2\" name=\"role_label'+i+ '\" id=\"id_role_label'+i+'\" value=\"'+ speakers[i].name+'\">';
    output+= '</div>';
  }
//  output+='<div class=\"col\"><button id=\"button\" class=\"btn btn-info rounded-pill\" style=\"margin-top: 34px; font-size:small; padding:3\" type=\"submit\" >'
//  output+='<i class=\"mdi mdi-wrench\"></i>화자변경</button></div>'
  role_mark.innerHTML = output;
}

function role_view2() {
  var role_mark = document.getElementById('role_group');
  var conts = JSON.parse('{{ interviews.content }}'.replace(/&quot;/g,'"'));
  speakers = conts.speakers;
  var output = '';
  for(var i=0; i<speakers.length; i++) {
    output+='<div class=\"row mb-2\">';
    output+='<div class=\"col-3\"><label for=\"id_role_label'+i+'\" class=\"form-label\" style=\"margin-top:3;\">화자'+speakers[i].label+'</label></div>';
    output+='<div class=\"col-9\"><input type=\"text\" class="form-control" style=\"margin-top: 1px; padding:2\" name=\"role_label'+i+ '\" id=\"id_role_label'+i+'\" value=\"'+ speakers[i].name+'\"></div>';
    output+= '</div>';
  }
 // output+='<div class=\"row\"><button id=\"button\" class=\"btn btn-info rounded-pill\" style=\"margin-top: 34px; font-size:small; padding:3\" type=\"submit\" >';
 // output+='<i class=\"mdi mdi-wrench\"></i>변경</button></div>';
  role_mark.innerHTML = output;
}


  </script>

{% endblock %}

