{% extends 'interviews/interviews_base.html' %}
{% load static %}
{% block load_area %}
{% load socialaccount %}
{% load mathfilters %}
{% endblock %}

{% block css_content %}
     <link href="{% static 'interviews/bootstrap/assets/css/sidebar.min.css' %}" rel="stylesheet" type="text/css" />
     <link href="{% static 'interviews/bootstrap/assets/css/vendor/quill.core.css' %}" rel="stylesheet" type="text/css" />
     <link href="{% static 'interviews/bootstrap/assets/css/vendor/quill.snow.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'interviews/bootstrap/assets/css/vendor/select.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'interviews/bootstrap/assets/css/vendor/dataTables.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'interviews/bootstrap/assets/css/vendor/responsive.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extra_javascript %}
    <script src="{% static 'interviews/bootstrap/assets/js/vendor/dropzone.min.js' %}"></script>
    <script src="{% static 'interviews/bootstrap/assets/js/vendor/dataTables.select.min.js' %}"></script>

    <script src="{% static 'interviews/bootstrap/assets/js/vendor/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'interviews/bootstrap/assets/js/vendor/dataTables.bootstrap5.js' %}"></script>
    <script src="{% static 'interviews/bootstrap/assets/js/vendor/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'interviews/bootstrap/assets/js/vendor/responsive.bootstrap5.min.js' %}"></script>

    <!-- Datatable Init js -->
    <script src="{% static 'interviews/bootstrap/assets/js/pages/demo.datatable-init.js' %}"></script>

    <!-- quill js -->
    <script src="{% static 'interviews/bootstrap/assets/js/vendor/quill.min.js' %}"></script>
    <!-- quill Init js-->
    <script src="{% static 'interviews/bootstrap/assets/js/pages/demo.quilljs.js' %}"></script>

    <script>
    function htrans() {
        sn = document.querySelector('.ql-editor');
        snow=document.getElementById('snow-editor');
        cf=document.getElementById('id_comment');
        test=document.getElementById('test');

        cf.innerHTML=sn.innerHTML;
            test.innerHTML=sn.innerHTML;

    };

    window.onload = function () {
        var config = {
          "modules": {
              toolbar: false,
          },
          "theme": "snow",
        };
        var quill = new Quill( "#editor", config );

        $('#scroll-horizontal-datatable').dataTable({
            "scrollX":200,
            "pageLength": 50
        });
        quill.enable(false);
    }
    </script>
    <script src="{% static 'interviews/bootstrap/assets/js/sidebar.min.js' %}"></script>
    <script>
    function sidebarToggle(){
        $('.ui.bottom.sidebar')
          .sidebar('setting', 'transition', 'push')
          .sidebar('toggle')
        ;
    }
    </script>
{% endblock %}


{% block main_area %}
    <div class="container py-2 py-lg-5">
        {% if client_interviews.exists %}
            <div class="row my-5">
                <div class="card mb-md-0 " >
                    <div class="card-body">
                        <div class="row justify-content-between">
                            <div class="col-8 d-inline-block">
                                <p class="card-title my-2">
                                    <h3 class="card-title my-2 d-inline-block">{{client_info.name}}</h3>의 고객노트
                                </p>
                            </div>

                            <div class="d-inline-block w-auto card-widgets">
                                <a href="{% url 'client_modify' client_info.pk %}" target="_blank" role="button">
                                    <i class="mdi mdi-account-edit"></i></a>
                                <a href="{% url 'client_page' client_info.pk %}" role="button">
                                    <i class="mdi mdi-refresh" ></i></a>
                                <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">
                                    <i class="mdi mdi-minus"></i></a>

                            </div>
                        </div>
                        <div class="collapse show" id="collapseExample">
                            <div class="card card-body">
                                <div id="editor" style="height: 200px;" enable:false >
                                {% autoescape off %}
                                   {{client_info.comment}}
                                {% endautoescape %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table id="scroll-horizontal-datatable" class="table nowrap w-100" data-order='[2,"desc"]'>
                <thead>
                    <tr>
                        <th>대화제목</th>
                        <th>상담시간</th>
                        <th>날짜</th>
                        <th>삭제</th>
                    </tr>
                </thead>
        
                <tbody>
        
                    {% for iv in client_interviews %}
                        {% if user.username == iv.author.mid.username and iv.delete_flag != "true" %}
                              <tr>
                                  <td>
                                      <i class="dripicons-document" ></i> <a href="{{ iv.get_absolute_url }}" >{{ iv.title }}</a>
                                  </td>
                                  <td style="text-align: right; ">{{ iv.duration }}</td>
                                  <td>

                                      <center> <span class="badge bg-secondary">{{ iv.created_at|date:"Y-m-d" }}</span></center>
                                  </td>
                                  <td>
                                      <center><a href="{% url 'interview_delete' iv.pk %}" onclick="return confirm('정말 삭제하시겠습니까?')">
                                      <i class="dripicons-trash" ></i></a></center>
                                  </td>

                              </tr>
                         {% endif %}
                         {% empty %}
                              <tr>No articles yet.</tr>
                    {% endfor %}
        
                </tbody>
            </table>
        
        {% else %}
            <br>
            <h3 class="text-center">아직 게시물이 없습니다.</h3>
        {% endif %}
    </div>






<script src="{% static 'interviews/bootstrap/assets/js/audiorecord/audioapp.js' %}"></script>
<script src="{% static 'interviews/bootstrap/assets/js/audiorecord/WebAudioRecorder.min.js' %}"></script>


{% endblock %}
