{% extends 'interviews/interviews_base.html' %}
{% load mathfilters %}
{% block css_content %}
<!-- <style>
textarea.autosize
{
    border:1px solid #999999;
    width:98%;
    margin:5px 0;
    padding:1%;
}

</style> -->

{% endblock %}

{% block main_area %}
<div class="container row mx-auto p-0">
    <div class="left col-12 col-lg-9 border-end order-2 order-lg-1">
        <div style="display:none;" id="idTable">
            <form method="post" enctype="multipart/form-data" id="sentform" >
                {% csrf_token %}
            </form>
            <div class="chat-message-right pb-4" id="senttr"> </div>
        </div>
        <div id="voice_load" class="alert alert-warning col-12 text-center py-5 my-3" role="alert">
            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
            <strong>음성파일 로딩중 ....</strong>
        </div>
        <div class="chat-message-right pb-4" id="sentli">
        
        </div>
    </div>
    <div class="right col-12 col-lg-3 order-1 order-lg-2">
        <div class="row my-2" >
            {% if mode == "view" %}
                <span class="w-25 text-black">
                    대화명:
                </span>
                <h3 class="w-75 d-inline-block mb-0 text-truncate">{{ interviews.title }}</h3>
                <span class="mt-2 w-25 text-black">
                    고객명:
                </span>
                <h4 class="mt-2 w-75 d-inline-block">
                    {{client_info.name}}
                </h4>
                {% block subnav_area %}
                    {% include 'interviews/subnavbar.html' %}
                {% endblock %}
            {% elif mode == "edit" %}
                <form method="post" enctype="multipart/form-data">
                    <label for="id_title" class="form-label">대화 제목</label>  
                    <div class="row mb-1">
                        <div class="col-12">
                            <input type="text" value="{{ interviews.client_name }}" id="id_client_name" name="client_name" style="display:none;">                  
                            <input type="text" class="form-control" name="title" id="id_title" value="{{ interviews.title }}">
                        </div>
                        
                    </div>  
                </form>
            {% endif %}
        
        </div>
        
        <div class="row">
            <div class="col-12">
                {% if interviews.confidence != 0 and interviews.confidence != null %}
                <div class="row">
                    <div class="col-12">
                        <div 
                            class="docTag tooltipBox"
                            role="alert"
                        >
                            신뢰도 {{ interviews.confidence|div:10 }}
                            <span class="tooltipText">
                                <p><b>-신뢰도를 향상시키는 TIP-</b></p>
                                <p>마이크는 가까이!</p>
                                <p>주변 소음은 NO!</p>
                                <p>발언은 한명씩!</p>
                            </span>
                        </div>
                        <p class="docTag" id="similar">
                            정확도 00.00
                        </p>                
                    </div>
                    <div class="col-12 text-center">
                        <!-- <i class="fad fa-dot-circle fa-sm symb great-symb"></i> -->
                        <!-- <i class="fas fa-dot-circle fa-lg symb good-symb"></i>보통 -->
                        <!-- <i class="fas fa-times fa-lg symb bad-symb"></i>나쁨 -->
                        <span class="mdi mdi-star-circle fa-lg symb great-symb"></span>좋음
                        <span class="mdi mdi-check-circle fa-lg symb good-symb"></span>보통
                        <span class="mdi mdi-close-circle fa-lg symb bad-symb"></span>나쁨
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="dropdown row mt-2 mx-auto">
        
                <button 
                    type="button"
                    class="col-6 mb-1 btn btn-outline-custom rounded-pill dropdown-toggle"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user symb"></i>고객 배정
                </button>
                <div class="dropdown-menu p-0" >
                    <div class="dropdown-menu-inner px-4 pt-3 w-100 h-100">
                        <form id="id_nameForm" class="m-0" method="post" enctype="multipart/form-data" name="nameForm" >
                        {% csrf_token %}
                            <div class="mb-2" >
                                <input type="text" value="{{ interviews.title }}" id="id_title" name="title" style="display:none;">
                                <label for="id_client_name2" class="form-label">이동대상선택</label>
                                <select class="form-select" id="id_client_name2" name="client_name2" value="{{ client_name }}">
                                    {% for client in clients_list %}
                                        {% if client.name != "고객미정" and user.username == client.counselor.username %}
                                        <option>{{ client.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="d-flex justify-content-center"><button id="button1" class="btn btn-outline-custom rounded-pill" type="submit" >
                            <i class="mdi mdi-wrench"></i>이동</button></div>'
                        </form>
                    </div>
                </div>
                
                <button
                    type="button"
                    class="col-6 mb-1 btn btn-outline-custom rounded-pill dropdown-toggle"
                    onClick="role_view2();"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-exchange-alt symb"></i>화자 변경
                </button>
        
                <div class="dropdown-menu p-0">
                    <div class="dropdown-menu-inner px-4 pt-3 w-100 h-100">
                        <form method="post" enctype="multipart/form-data" id="id_diazForm" >
                        {% csrf_token %}
            
                            <div id="role_group">
                            </div>
                            <input type="text" value="{{ interviews.title }}" id="id_title" name="title" style="display:none;">
                            <input type="text" value="{{ interviews.client_name }}" id="id_client_name" name="client_name" style="display:none;">
                            <div class="d-flex justify-content-center">
                                <button id="button2" class="btn btn-outline-custom rounded-pill" type="submit" >
                                <i class="mdi mdi-wrench"></i>변경</button>
                            </div>
                        </form>
                    </div>
                </div>
                <button
                    type="button"
                    class="col-6 mb-1 btn btn-outline-custom rounded-pill dropdown-toggle"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-plus symb"></i>화자 추가
                </button>
        
                <div class="dropdown-menu p-0">
                    <div class="dropdown-menu-inner px-4 py-3 w-100 h-100">
                        <div class="row mb-2">
                            <div class="col-3"><label class="form-label" style="margin-top:3;">화자</label></div>
                            <div class="col-9"><input type="text" id="new_speaker" class="form-control"></div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button id="add_spk" class="btn btn-outline-custom rounded-pill" onClick="add_speaker();">
                            <i class="mdi mdi-wrench"></i>추가</button>
                        </div>
                    </div>
                </div>
        
                <button
                    type="button"
                    class="col-6 mb-1 btn btn-outline-custom rounded-pill dropdown-toggle"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-calculator symb"></i>정확도 측정
                </button>
                <div class="dropdown-menu p-0" >
                    <div class="dropdown-menu-inner px-4 py-3 w-100 h-100">

                        <div class="mb-3" >
                            <label for="id_client_name2" class="form-label">측정방법선택</label>
                            <select class="form-select" id="id_evalMethod" name="client_name2">
                                <option value="tfidf" selected>TfIdf</option>
                                <option value="count">Count</option>
                                <option value="jaccard">Jaccard</option>
                                <!--option value="bm25">BM25</option>
                                <option value="bm25plus">BM25Plus</option-->                                        
                            </select>
            
                            <label for="id_label_file" class="form-label mt-2">레이블 파일</label>
                            <input type="file" class="form-control" name="label_file"  id="id_label_file" placeholder="레이블 파일" >                
                        </div>
                        <div class="d-flex justify-content-center">
    
                            <button id="button1" class="btn btn-outline-custom rounded-pill" onclick="evalSend();">
                                <i class="mdi mdi-wrench"></i>
                                정확도 측정
                            </button>
                        </div>
                        <form class="px-4 py-3" id="id_evalForm" method="post" style="display:none;"
                        enctype="multipart/form-data" name="evalForm">
                        {% csrf_token %}
                        </form>
                    </div>
                </div>
        
            </div>
        </div>
        
        <div style="display:none;">
            <form class="px-4 py-3" method="post" enctype="multipart/form-data" id="add_speaker">
                {% csrf_token %}
            </form>
        </div>
        
        <div class="row mt-2">
            <div class="col-12">
                <div class="row mx-auto align-items-center">
                    <div class="col-8 px-0">
                        <label for="quiet_basis"><b>침묵설정</b></label>
                        <input class="form-control" type="number" value="{{ interviews.quiet_basis }}" min="0" id="quiet_basis" >
                    </div>
                    <button class="btn btn-outline-custom rounded-pill mx-auto col-3" onclick="quiet_sent();">적용</button>
                </div>
            </div>    
            <div class="row mt-2 mx-auto">
                <button 
                    id='sentmode'
                    onclick="changeMode();" 
                    type="button"
                    class="col-6 btn btn-outline-custom rounded-pill"
                >
                    <i class="fa fa-exchange-alt symb"></i>뷰모드</button>
                <button
                    id="sentsave"
                    onclick="contentSave();"
                    type="button"
                    class="col-6 btn btn-outline-custom rounded-pill">
                    <i class="fas fa-save symb"></i>
                    저장</button>
            </div>
        </div>
        <hr>
        <div class="row manualSection">
            {% if mode == "view" %}
                <div class="alert alert-custom">
                    <i class="fas fa-asterisk symb"></i>
                    더블 클릭으로 재생/멈춤
                </div>
            {% elif mode == "edit" %}
                <div class="alert alert-custom">
                    <p class="mb-0">
                        <i class="fas fa-asterisk symb"></i>
                        double click: 재생/멈춤
                    </p>
                    <p class="mb-0">
                        <i class="fas fa-asterisk symb"></i>
                        shift + enter: 말뭉치 분리
                    </p>
                    <p class="mb-0">
                        <i class="fas fa-asterisk symb"></i>
                        shift + del: 말뭉치 삭제
                    </p>
                </div>
            {% endif %}
        </div>
        
        
    </div>
    
    
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.1/howler.min.js"></script>
<script type="text/javascript">

var aud;

var sents;
var sentmode = document.getElementById("sentmode");
//var vsentences = document.getElementsByClassName('vsentence');
var isentences = document.getElementsByClassName('isentence');

var autoplay = 0;
var speakers;

var msrc='';

function KeyCheck(obj, ckey) {
    var ech = [ 33,34,35, 36,37,38,39,47,59,63,64,92,94,96,123,124,125];
    console.log(ckey);
    for(value of ech) {

        if(ckey==value) {
            alert("특수문자 입력불가!");
            return false;
            var event = document.createEvent("Events");
            event.initEvent('keydown', true, true);
            event.keyCode = 8;
            obj.dispatchEvent(event);
            alert("특수문자 입력불가!");

            //location.href='/interviews/detail/view/{{ interviews.pk }}/'
        }
    }
}
function SpeakerChk() {
    var pattern_spc = /[ \{\}\[\]\/?.,;:|\)*~`!^\-_+┼<>@\#$%&\'\"\\\(\=]/gi;
    try {
        $('.speaker-list').each( function (index, item) {
            str = $(item).val()
            if( pattern_spc.test(str) ) {
            alert("특수문자 입력불가!");
            location.href='/interviews/detail/view/{{ interviews.pk }}/'
            return false;
            }
        });
    } catch (e) {
        alert(`다음과 같은 에러가 발생했습니다: ${e.name}: ${e.message}`);
        return false;
    }

}


function changeMode() {

    if ('{{ mode }}' == 'view') {

        location.href='/interviews/detail/edit/{{ interviews.pk }}/'
    }
    else if ('{{ mode }}' == 'edit') {

        location.href='/interviews/detail/view/{{ interviews.pk }}/'
    }
}

window.onload = function() {
    
    if ( "{{ interviews.file_upload }}"!='') {
        msrc = "/media/{{ interviews.file_upload.name }}";
    }
    else msrc = "https://kr.object.ncloudstorage.com/fingerai-dev/{{ interviews.object_path }}";   

    aud = new Howl({
    src: msrc,
    volume: 1.0
    });

    aud.on('load', function(){
        console.log('Audio Loaded');
        $('#voice_load').attr("style","display:none;")
    });

    aud.on('loaderror', function(){
        console.log('Audio Load Error!!');
        $('#voice_load').attr("class","alert alert-danger col-4")
        $('#voice_load').html("<strong>음성이 지원되지 않는 파일입니다.</strong>");
    });  
   
    sents = '{{ intv_sentence }}'.replace(/&quot;/g,'"').replace(/&#39;/g,"'").replace(/&#x27;/g,"'")

    sents = JSON.parse(sents);
    $('#refill_img').before('<img src="/media/symbol/diag_listen.png" style="width: 85%; height: auto; margin-bottom:5px;">');
    if ( '{{ mode }}' == 'view') { good_sent('view'); }
    else if  ( '{{ mode }}' == 'edit') {
        $('#refill_img').before('<img src="/media/symbol/diag_edit.png" style="width: 85%; height: auto; margin-bottom:5px;">');
        good_sent('edit');
    }

    submit_name();
    submit_diaz();

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })

}

function blobToFile(theBlob, fileName){       
    return new File([theBlob], fileName, { lastModified: new Date().getTime(), type: theBlob.type })
}

function quiet_sent()
{
    if ( '{{ mode }}' == 'view') { good_sent('view'); }
    else if  ( '{{ mode }}' == 'edit') { good_sent('edit'); }
}

function loadFile(fpath) {

  var result = null;
  var xmlhttp = new XMLHttpRequest();
  xmlhttp.open("GET", filePath, false);
  xmlhttp.send();
  if (xmlhttp.status==200) {
    result = xmlhttp.responseText;
  }
  return result;
}

function submit_name() {
  $("#id_nameForm").submit(function(e){

    var formData1 =new FormData(document.getElementById("id_nameForm"));

    formData1.append('client_name',document.getElementById("id_client_name2").value);

    $.ajax({
        contentType : false,
        processData : false,
        data : formData1,
        url : "/interviews/detail/view/{{ interviews.pk }}/",
        type : 'POST',
        success: function (data) {
            window.location.replace("/interviews/detail/view/{{ interviews.pk }}/");
        },
        error: function (xhr, status) {
            alert(xhr + " : " + status);
        }
    });
    return false;
  });
};

function submit_diaz() {
  $("#id_diazForm").submit(function(e){

    var formData2 =new FormData(document.getElementById("id_diazForm"));
    formData2.append('client_name','{{ client_info.name }}');
    formData2.append('speakers','{{ interviews.speakers }}');

    var speakers_list = new Array();

    for(var i=0; i<speakers.length; i++) {
        var data = new Object();
        sid = '#id_role_label'+i;
        data.label = speakers[i].label;
        data.name = $(sid).val();
        speakers_list.push(data);
    }

    var speakers_json = JSON.stringify(speakers_list);
    formData2.append('speakers',speakers_json);

    $.ajax({
        contentType : false,
        processData : false,
        data : formData2,
        url : "/interviews/detail/view/{{ interviews.pk }}/",
        type : 'POST',
        success: function (data) {
            window.location.replace("/interviews/detail/view/{{ interviews.pk }}/");
        },
        error: function (xhr, status) {
            alert(xhr + " : " + status);
        }
    });
    return false;
  });
};


function good_sent(mode) {
  var output = '';
  var sent_tr = document.getElementById('sentli');
  var table1 = document.getElementById('idTable');
  var btn_save = document.getElementById('sentsave');
  var i;
  sent_tr.innerHTML = '';
  prev_name = "none";

  if ( mode == 'view') {

    sentmode.innerHTML = '<i class="fas fa-tools symb"></i>편집';
    table1.setAttribute("style", "display:none;");

    for(i=0; i<sents.length; i++) {
        if (sents[i].text!='') {
            if( sents[i].name != prev_name) {
                output+= '<div class="text-nowrap custom-sent-header"><b class="me-2"><i class="fas fa-user fa-sm symb"></i>' + sents[i].name + String(sents[i].sent_no).padStart(3,'0')+'</b>';
                output+= '<i class="fas fa-clock fa-sm symb"></i>'+ Math.floor((sents[i].start)/60000) + "'" + Math.floor(((sents[i].start)%60000)/1000) + "''" + '</div>'
             }

            output+='<div class="row"><div class="col-11 mx-auto custom-sent" ondblclick="playat(' + i + ');">'

            if ( 'confidence' in sents[i] && sents[i].confidence!=0) {
                if(sents[i].confidence > 0.85) output+='<span class="mdi mdi-star-circle fa-lg symb great-symb"></span>'
                else if (sents[i].confidence > 0.6) output+='<span class="mdi mdi-check-circle fa-lg symb good-symb"></span>'
                else output+='<span class="mdi mdi-close-circle fa-lg symb bad-symb"></span>'
            }
            if ( ( sents[i].quiet_time >= $('#quiet_basis').val() ) && $('#quiet_basis').val() >0 )  output+= '<b>(침묵'+ sents[i].quiet_time + '초)</b>'
            output+= sents[i].sentence + '</div>'

            output+= '</div>'
            prev_name = sents[i].name;
        }
    }
  }
  else if ( mode == 'edit') {
    sentmode.innerHTML = '<i class="fas fa-arrow-left symb"></i>뒤로가기';
    table1.setAttribute("style", "display;");
    sent_tr = document.getElementById('senttr');
    speakers = JSON.parse('{{ interviews.speakers }}'.replace(/&quot;/g,'"').replace(/&amp;quot;/g,'"').replace(/&#39;/g,'"').replace(/&#x27;/g,'"'));
    for(var i=0; i<sents.length; i++) {
        if (sents[i].text!='') {
            if( sents[i].name != prev_name) {
                //output+= '<div class="text-muted text-nowrap mt-2"><b>' + sents[i].name + String(sents[i].sent_no).padStart(3,'0')+'</b>'
                output+= '<div class="text-nowrap custom-sent-header"><b class="me-2"><i class="fas fa-user fa-sm symb"></i>' + sents[i].name +'</b>'
                output+= '<i class="fas fa-clock fa-sm symb"></i>'+ Math.floor((sents[i].start)/60000) + '\'' + Math.floor(((sents[i].start)%60000)/1000) + '\'\'' + '</div>'
             }

            if ( ( sents[i].quiet_time >= $('#quiet_basis').val() ) && $('#quiet_basis').val() >0 )  output+= '<h4><span class="badge bg-info">침묵'+ sents[i].quiet_time + '초</span></h4>'
            output+= '<div class="d-flex justify-content-center align-items-center my-2">'
            if ( 'confidence' in sents[i]  && sents[i].confidence!=0 ) {
                output+='<div class="">'
                if(sents[i].confidence > 0.85) output+='<span class="mdi mdi-star-circle fa-lg symb great-symb"></span>'
                else if (sents[i].confidence > 0.6) output+='<span class="mdi mdi-check-circle fa-lg symb good-symb"></span>'
                else output+='<span class="mdi mdi-close-circle fa-lg symb bad-symb"></span>'
                output+='</div>'
            }
            output+='<div class="w-75">'

            output+= '<textarea class="isentence sent-edit-row p-2" onclick="resize(this)" gened="false" rows="1" ondblclick="iplayat('+i+');" '
            output+= 'onkeyup="sent_split(this, ' + i + ', \'' + sents[i].name +'\')">'   //"sent_split(this, ' + i + ')">'
            output+= sents[i].sentence+'</textarea>'
            output+= '</div>'
            output+= '<div class="py-1 ps-1 rounded"><select class="form-select opts" style="width: 80px;" aria-label="Default select example">'
            //output+= '<div class="col-3 py-1 px-3 rounded"><select id="opt' + i + '" class="form-select" aria-label="Default select example">'
            for(var j=0; j<speakers.length; j++) {
                if(sents[i].name == speakers[j].name)
                    output+= '<option selected value="' + speakers[j].label+ '">' + speakers[j].name + '</option>'
                else  output+= '<option value="' + speakers[j].label+ '">' + speakers[j].name + '</option>'
            }
            output+= '</select></div></div>'
            prev_name = sents[i].name
        }
    }
  }

  sent_tr.innerHTML = output;
};



function playatd(i) {}

function iplayatd(i) {}

var timer;

var tempi=0;
function playat(i) {

    if(aud.playing()==true) {
        aud.stop();
        return;
    }

    //if( i == vsentences.length) return;

    start = Math.floor(sents[i].start/1000);
    //dur = sents[i].end-sents[i].start + (sents[i].start%1000);
    aud.seek(start);

    aud.play();

}



function iplayat(i) {
    if(aud.playing()==true)  { aud.stop(); return; }
    if( i == isentences.length) return;
    start = Math.floor(sents[i].start/1000);
    //dur = sents[i].end-sents[i].start + (sents[i].start%1000);
    aud.seek(start);

    aud.play();

}

function resize(obj) {
  obj.style.height = "1px";
  obj.style.height = (2+obj.scrollHeight)+"px";
  str = obj.innerHTML;

}

function sent_split(obj, i, sname) {
  obj.style.height = "1px";
  obj.style.height = (2+obj.scrollHeight)+"px";
  // left ctl : 17,  enter :13
  var output = '';

  if( event.keyCode == 13 && event.shiftKey) {
    str = $(obj).val();

    nidx = str.indexOf('\n');
    $(obj).val(str.substring(nidx+1,str.length))   // str.substring(0,nidx)

    gen_attr = '';
    if ( $(obj).attr('gened') == "true") gen_attr = "true";
    else gen_attr = "false";

    $(obj).attr('gened', "true");
    //console.log("key: ctrl enter "+ nidx);
    output+= '<div class="row"><div class="col-1 pt-2"></div><div class="col-8">'
    output+= '<textarea class="isentence sent-edit-row p-2" cols="100" gened="' + gen_attr + '" onclick="resize(this)" ondblclick="iplayat('+i+');" onchange="this.focus();" onkeyup="sent_split(this, ' + i + ')">'
    output+= str.substring(0,nidx)+'</textarea>'   // enter code 13 is inserted
    
    output+= '</div>'
    output+= '<div class="col-3 py-1 px-3 rounded"><select class="form-select opts" aria-label="Default select example">'

    for(var j=0; j<speakers.length; j++) {
        if ( sname == speakers[j].name )     output+= '<option selected value="' + speakers[j].label+ '">' + speakers[j].name + '</option>'
        else  output+= '<option value="' + speakers[j].label+ '">' + speakers[j].name + '</option>'
    }
    output+= '</select></div></div>'

    //$(obj).parent().parent().after(output);
    $(obj).parent().parent().before(output);
    //$(obj).focus();
    //$(obj).selectRange(0,0);
  }
  else if ( event.keyCode == 46 && event.shiftKey) {     // delete key
    console.log("Delete + Alt key"+$(obj).html());
    //$(obj).parent().parent().empty();
    $(obj).parent().parent().remove();
  }

}


function contentSave() {
    var sentences = document.getElementsByClassName('isentence');
    var sentenceList = new Array() ;
    for (var i=0; i<sentences.length; i++) {
        var data = new Object() ;
        //oid = '#opt'+i+' option:selected'
        oid = '.opts:eq(' + i + ') option:selected'
        console.log(oid)
        data.speaker = $(oid).val();
        console.log(data.speaker);
        //data.sentence = sentences[i].innerHTML ;
        //data.speaker = sents[i].name ;
        data.sentence = sentences[i].value;
        data.generated = sentences[i].getAttribute("gened");
        sentenceList.push(data) ;
    }

    // String 형태로 변환
    var jsonData = JSON.stringify(sentenceList) ;
    //alert(jsonData);
    //var formData =new FormData(document.getElementById("isentence"));
    var formData =new FormData(document.getElementById("sentform"));
    formData.append('all_sentence',jsonData);
    formData.append('quiet_basis', $('#quiet_basis').val());
    formData.append('title', $('#id_title').val());

    $.ajax({
        contentType : false,
        processData : false,
        data : formData,
        url : "/interviews/sentenceupdate/{{ interviews.pk }}/",
        type : 'POST',
        success: function (data) {
            console.log(data);
            window.location.replace("/interviews/detail/view/{{ interviews.pk }}/");
        },
        error: function (xhr, status) {
            alert(xhr + " : " + status);
        }
    });
    return false;
}

function add_speaker() {
    var formData =new FormData(document.getElementById("add_speaker"));
    formData.append('new_speaker', $('#new_speaker').val());
    $.ajax({
        contentType : false,
        processData : false,
        data : formData,
        url : "/interviews/addspeaker/{{ interviews.pk }}/",
        type : 'POST',
        success: function (data) {
            console.log(data);
            window.location.replace("/interviews/detail/edit/{{ interviews.pk }}/");
        },
        error: function (xhr, status) {
            alert(xhr + " : " + status);
        }
    });
    return false;
}


function role_view2() {
  var role_mark = document.getElementById('role_group');

  speakers = JSON.parse('{{ interviews.speakers }}'.replace(/&quot;/g,'"').replace(/&amp;quot;/g,'"').replace(/&#39;/g,'"').replace(/&#x27;/g,'"'));

  var output = '';
  for(var i=0; i<speakers.length; i++) {
    output+='<div class=\"row mb-2\">';
    output+='<div class=\"col-3\"><label for=\"id_role_label'+i+'\" class=\"form-label\" style=\"margin-top:3;\">화자'+speakers[i].label+'</label></div>';
    output+='<div class=\"col-9\"><input type=\"text\" class="form-control speaker-list" style=\"margin-top: 1px; padding:2;\" name=\"role_label'+i+ '\" id=\"id_role_label'+i+'\" value=\"'+ speakers[i].name+'\" onkeypress="return KeyCheck(this,event.keyCode);"></div>';
    output+= '</div>';
  }
  role_mark.innerHTML = output;
}


function evalSend() {
    var labelFile = $('#id_label_file')[0];
    var formData =new FormData(document.getElementById("id_evalForm"));
    formData.append('evalMethod', $('#id_evalMethod').val());
    formData.append('evalFile', labelFile.files[0]);
    formData.append('docu', '{{ interviews.pk }}');
    $.ajax({
        contentType : false,
        processData : false,
        data : formData,
        url : "/interviews/evalDoc/",
        type : 'POST',
        success: function (data) {
            console.log(data);
            $('#similar').html("정확도 "+data);
            //window.location.replace("/interviews/detail/view/{{ interviews.pk }}/");
        },
        error: function (xhr, status) {
            alert(xhr + " : " + status);
        }
    });
    return false;
}
  </script>

{% endblock %}

