{% extends 'interviews/interviews_base.html' %}
{% load static %}


{% block main_area %}
<div class="row">
    <div class="col-9">
        <h3 style="margin-top: 3px;"> {{ interviews.title }} </h3>
    </div>
</div>

<ul  id="summ">

</ul>




{% endblock %}

{% block extra_javascript %}
<script type="text/javascript">

    $( document ).ready(function() {

      if('{{ interviews.summary }}'.replace(/&quot;/g,'"').replace(/\n/g,' ')!="") {
          gen_sum();
      }

  })

  function gen_sum() {
    var sums = JSON.parse('{{ summary }}'.replace(/&quot;/g,'"').replace(/\n/g,' '));
    var speakers = JSON.parse('{{ interviews.speakers }}'.replace(/&quot;/g,'"').replace(/&amp;quot;/g,'"').replace(/&#39;/g,'"').replace(/&#x27;/g,'"'));
    var output = '';

    var mu_summ = document.getElementById('summ');
    var i =0;
    for(var idx in sums) {
      var name;
      if (idx=='full') {
          output+='<li style=\"margin-top:17px; margin-bottom:10px;\"> 전체내용 요약&nbsp;&nbsp;'
          output+='<a href="/interviews/report/{{ interviews.pk }}/full" class="fdown btn btn-secondary my-0 px-1 py-0" style="font-size:small;">'
          output+='<i class="dripicons-document" ></i>요약문서</a><ul>'
          sums[idx].forEach(function(elem) {
            output+='<li style=\"margin:8px;\">'+elem +'</li>';
          });
          output+='</ul></li>';
       }
       else {
          name = speakers[i].name;
          output+='<li style=\"margin-top:17px; margin-bottom:10px;\">' +name+'의 요약&nbsp;&nbsp;'
          output+='<a href="/interviews/report/{{ interviews.pk }}/' + speakers[i].label + '" class="fdown btn btn-secondary my-0 px-1 py-0" style="font-size:small;">'
          output+='<i class="dripicons-document" ></i>요약문서</a><ul>'
          sums[idx].forEach(function(elem) {
            output+= '<li style=\"margin:8px;\">'+elem +'</li>';
          });
          output+='</ul></li>';
       }
       i++;
    }
    mu_summ.innerHTML = output;
  }


</script>
{% endblock %}