{% extends 'interviews/interviews_base.html' %}
{% block main_area %}

<div class="row" >
    <div class="col-10" >
      <h4><center> {{ interviews.title }} </center></h4>
    </div>
</div>

<div class="row" style="margin-bottom: 3px;">
    <div class="col-2 col-lg-7"></div>
    <div class="dropdown col-10 col-lg-5">
        <a href="/interviews/verbatim/{{ interviews.pk }}" onclick="buttonClick()">
            <button type="button" class="btn btn-info rounded-pill" style="margin-top: 34px; font-size:small; padding:3">
        <i class="dripicons-document" ></i>축어록생성</button></a>

        <button type="button" class="btn btn-info rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 34px; font-size:small; padding:3">
        <i class="mdi mdi-wrench"></i>상담이동
        </button>
        <div class="dropdown-menu" >
            <form class="px-4 py-3" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
                <div class="mb-3" >
                    <label for="id_client_name" class="form-label">Input Select</label>
                    <select class="form-select" id="id_client_name" name="client_name" value="{{ client_name }}">
                        {% for client in clients_list %}
                            {% if client.name != "고객미정" and user.username == client.counselor.username %}
                            <option>{{ client.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="row"><button id="button" class="btn btn-info rounded-pill" style="margin-top: 34px; font-size:small; padding:3" type="submit" >
                <i class="mdi mdi-wrench"></i>이동</button></div>'
            </form>
        </div>

        &nbsp<button type="button" class="btn btn-info rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 34px; font-size:small; padding:3">
        <i class="mdi mdi-wrench"></i>화자변경
        </button>

        <div class="dropdown-menu">
            <form class="px-4 py-3" method="post" enctype="multipart/form-data">
            {% csrf_token %}

                <div style="display:none">
                  <label for="id_client_namex" class="form-label" >고객명</label>
                  <input type="text" class="form-control" name="client_namex" required id="id_client_namex"  value={{ client_info.name }}>
                </div>
                <div style="display:none">
                    <label class="form-label" for="id_client_comment">고객노트</label>
                    <textarea name="client_comment" cols="40" rows="4" maxlength="1000" class="textarea form-control" required id="id_client_comment" >
                        {{ client_info.comment }}
                    </textarea>
                </div>
                <div id="role_group">
                </div>
            </form>
        </div>

    </div>
</div>


      <!--div class="row" style="margin-bottom: 3px;">
        <div class="col-4" >
          <a class="dropdown-item" href="/interviews/verbatim/{{ interviews.pk }}" onclick="buttonClick()">
            <button type="button" class="btn btn-outline-success" style="margin-top: 1px; padding: 2px;">
              <i class="dripicons-document" ></i> <span>축어록생성</span> </button></a>
        </div>
        <label for="id_client_name" class="col-3 col-form-label" style="margin-top: 7px; padding: 2px; text-align: right">고객명</label>
        <div class="col-3">
          <input type="text" class="form-control" name="client_name" id="id_client_name" style="margin-top: 5px; padding:2" value={{ client_info.name }}>
        </div>
        <div class="col-2">
          <button id="button" class="btn btn-info rounded-pill" style="margin-top: 5px; font-size:small; padding:3" type="submit">
            <i class="mdi mdi-wrench"></i>변경</button>
        </div>
     </div-->
          <hr>





<table class="table table-hover">
  <thead>
    <tr>
      <th width="80px" ><center>화자</center> </th>
      <!--th width=80px ><center>발화시간</center></th-->
      <th ><center>발화내용</center></th>
      <th ><center>감정</center></th>
    </tr>
  </thead>
  <tbody  id="senttr">

  </tbody>
</table>

  <script type="text/javascript">


  function buttonClick() {
      var obj1= document.getElementById("vdown")
      //obj1.setAttribute('style','background-color:rgba(0,99,255,0.60); cursor:progress')
      obj1.setAttribute('style','cursor:progress')
      obj1.setAttribute('onclick','noaction()')
      obj1.innerHTML = '변환중...'
  }
  function noaction() {};


  window.onload = function() {

    good_sent();
    role_view2();

    function good_sent() {
      var sents = JSON.parse('{{ interviews.content_div}}'.replace(/&quot;/g,'"'));
      var output = '';

      var sent_tr = document.getElementById('senttr');
      for(var i=0; i<sents.length; i++) {
        if (sents[i].text!='') {
          output+='<tr>';
          output+='<td style=\'font-size:small\'>' + sents[i].name + String(sents[i].sent_no).padStart(3,'0') + '</td>';
          //output+='<td>' + Math.floor((sents[i].start)/60000)+'\''+ Math.floor(((sents[i].start)%60000)/1000) +'\'\''+'</td>';
          output+='<td style=\'font-size:small\'>' + sents[i].sentence +'</td>';
          output+='<td style=\'font-size:small\'>' + sents[i].senti +'</td>';
          output+='</tr>';
        }
      }
      sent_tr.innerHTML = output;
    };

    function role_view() {
      var role_mark = document.getElementById('role_group');
      var conts = JSON.parse('{{ interviews.content }}'.replace(/&quot;/g,'"'));
      speakers = conts.speakers
      var output = '';
      for(var i=0; i<speakers.length; i++) {
        output+='<div class=\"col\">'
        output+='<label for=\"id_role_label'+i+'\" class=\"form-label\">화자'+speakers[i].label+'</label>'
        output+='<input type=\"text\" class="form-control" style=\"margin-top: 1px; padding:2\" name=\"role_label'+i+ '\" id=\"id_role_label'+i+'\" value=\"'+ speakers[i].name+'\">'
        output+= '</div>'
      }
      output+='<div class=\"col\"><button id=\"button\" class=\"btn btn-info rounded-pill\" style=\"margin-top: 34px; font-size:small; padding:3\" type=\"submit\" >'
      output+='<i class=\"mdi mdi-wrench\"></i>화자변경</button></div>'
      role_mark.innerHTML = output;
    }

    function role_view2() {
      var role_mark = document.getElementById('role_group');
      var conts = JSON.parse('{{ interviews.content }}'.replace(/&quot;/g,'"'));
      speakers = conts.speakers
      var output = '';
      for(var i=0; i<speakers.length; i++) {
        output+='<div class=\"row\">'
        output+='<label for=\"id_role_label'+i+'\" class=\"form-label\">화자'+speakers[i].label+'</label>'
        output+='<input type=\"text\" class="form-control" style=\"margin-top: 1px; padding:2\" name=\"role_label'+i+ '\" id=\"id_role_label'+i+'\" value=\"'+ speakers[i].name+'\">'
        output+= '</div>'
      }
      output+='<div class=\"row\"><button id=\"button\" class=\"btn btn-info rounded-pill\" style=\"margin-top: 34px; font-size:small; padding:3\" type=\"submit\" >'
      output+='<i class=\"mdi mdi-wrench\"></i>변경</button></div>'
      role_mark.innerHTML = output;
    }

  }
  </script>

{% endblock %}

