{% extends 'interviews/interviews_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block nav_area %}
{% endblock %}

{% block subnav_area %}
{% endblock %}

{% block link_area %}
{% endblock %}

{% block widget_area %}
{% endblock %}

{% block css_content %}
<link href="{% static 'interviews/bootstrap/assets/css/vendor/quill.core.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'interviews/bootstrap/assets/css/vendor/quill.snow.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block main_area %}
<div class="container py-2 py-lg-5">
  <div class="row">
    <div class="col-2 col-lg-8 mx-auto">
      <div class="pageSubject">
        <p class="h3 text-center">고객 정보 수정</p>
      </div>

      <form method="post" autocomplete="off" enctype="multipart/form-data" onSubmit="chkForm1();" >
      {% csrf_token %}
        <div class="row mb-2">
          <div class="col-12 col-md-5 mx-auto" >
            <label for="id_name" class="form-label">
              <!-- <i class="mdi mdi-face symb"></i> -->
              고객명
            </label>
            <input class="form-control" type="text" name="name" id="id_name" value="{{ client.name }}">
          </div>
          <div class="col-12 col-md-5 mx-auto">
            <label for="id_mail" class="form-label">
              <!-- <i class="mdi mdi-email symb"></i> -->
              이메일주소
            </label>
            <input class="form-control" type="text" name="mail" id="id_mail" value="{{ client.mail }}" >
          </div>
          <div class="col-12 col-md-5 mx-auto">
            <label for="id_phone" class="form-label mt-1">
              <!-- <i class="mdi mdi-card-account-phone symb"></i> -->
              연락처
            </label>
            <input type="text" name="phone" id="id_phone" class="form-control" data-toggle="input-mask" data-mask-format="000-0000-0000" value="{{ client.phone }}">
          </div>
          <div style="display:none;">
              <input class="form-control" type="text" name="pk" id="id_pk" value="{{ client.pk }}">
          </div>
          <div class="col-12 col-md-5 mx-auto">
            <label for="id_password" class="form-label mt-1">
              <!-- <i class="mdi mdi-form-textbox-password symb"></i> -->
              폴더암호
            </label>
            <input type="password" class="form-control" id="id_password" name="password" value="{{ client.password }}">
          </div>
        </div>
        
        <div class="row mb-2">
          <div class="col-12 col-md-11 mx-auto">
            <label for="id_comment" class="form-label">고객노트</label>
      
              <div id="snow-editor" style="height: 300px;" >
                  {% autoescape off %}
                  {{ client.comment }}
                  {% endautoescape %}
             </div>
      
              <textarea style="display:none;" name="comment" cols="40" rows="5" maxlength="1000" class="textarea form-control" id="id_comment" >
      
              </textarea>
          </div>
        </div>
          <div class="d-flex justify-content-between mt-4 px-4">
            <a href="javascript:windows.close();" class="btn btn-outline-custom" onClick="window.close()">종료</a>
            <button class="btn btn-outline-custom" type="submit" onClick="htrans()" id="id_update">정보갱신</button>
         </div>
      
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_javascript %}
<!-- quill js -->
<script src="{% static 'interviews/bootstrap/assets/js/vendor/quill.min.js' %}"></script>
<!-- quill Init js-->
<script src="{% static 'interviews/bootstrap/assets/js/pages/demo.quilljs.js' %}"></script>

<script>
function chkForm1() {
    fm1=document.getElementById('id_name');
    fm1.disabled = false;
}

function htrans() {
    sn = document.querySelector('.ql-editor');
    snow=document.getElementById('snow-editor');
    cf=document.getElementById('id_comment');
    cf.innerHTML=sn.innerHTML;
};
</script>

{% endblock %}