{% extends 'interviews/interviews_base.html' %}

{% block head_content %}
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-dispatch@3"></script>
<script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js" type="text/JavaScript"></script>
{% endblock %}

{% block main_area %}
<h3> {{ interviews.title }} </h3>
<br>
<h4> 단어 빈도수 </h4>
<hr>
    <table class="table table-hover">
      <tbody>
      <tr id="slabel">
      </tr>
      </tbody>
      <tbody id="dic_freq">


      </tbody>

    </table>
      <table>
      <tr>
          <td id="wcplace" ></td>
      </tr>

      </table>
    <script type="text/javascript">
    wordScale=d3.scale.linear().domain([1,100,1000,10000]).range([10,20,40,80]).clamp(true);
    wordColor=d3.scale.linear().domain([10,20,40,80]).range(["blue","green","orange","red"]);

    var layout = d3.layout.cloud()
        //.size([960, 500])
       // .size([350, 300])
        .padding(5)
        .rotate(function() { return ~~(Math.random() * 6) * 30; })
        .font("Impact")
        .fontSize(function(d) { return wordScale(d.size*30); })
        .on("end", draw);

    function draw(words) {
        //d3.select("body").append("svg")
        d3.select("#wcplace").append("td").append("svg")
          .attr("colspan",2)
          .attr("align","center")
          .attr("width", layout.size()[0])
          .attr("height", layout.size()[1])
        .append("g")
          .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
        .selectAll("text")
          .data(words)
        .enter().append("text")
          .style("font-size", function(d) { return d.size + "px"; })
          .style("font-family", "Impact")
          .style("fill", function(d) { return wordColor(d.size*Math.random(100)); })
          .attr("text-anchor", "middle")
          .attr("transform", function(d) {
            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
          })
          .text(function(d) { return d.text; });
    }



  var total_wc=[];
  view_wordcloud();

  for(let i=0; i<total_wc.length; i++) {

    layout.words(total_wc[i]);
    layout.start();
  }

  function view_wordcloud() {
      var sents = JSON.parse('{{ interviews.sentimental }}'.replace(/&quot;/g,'"'));
      var chk =0;
      var slabel = '', dic_freq='';
      var islabel = document.getElementById('slabel');
      var idic_freq = document.getElementById('dic_freq');
      const freqs=[];
      var n1=0;
      var hl_td= '';
      var hl_td2= '';
      //var total_wc=[];

      for(var idx in sents) {

        var wc_list=[];
        var wc_sub = { "text":"","size":10}
        var layout = d3.layout.cloud()
        .padding(5)
        .on("end", draw);

        if(chk%2==1) {
          hl_td = '<td colspan=2 align="center" style="background-color: #ffffee">'
          hl_td2 = '<td align="center" style="background-color: #fff8ee">'
        }
        else {
          hl_td = '<td colspan=2 align="center">'
          hl_td2 = '<td align="center">'
        }

        slabel+=hl_td+ idx + '</td>';
        dic_freq = dic_freq + '<td align="center"> 단어 </td>' + '<td align="center"> 빈도수 </td>'
        n1=0;

        for(var wl in sents[idx].word_freq) {
          if(chk==0) freqs[n1] = hl_td2 + wl+'</td>'+hl_td2+sents[idx].word_freq[wl]+'</td>';
          else freqs[n1] = freqs[n1] + hl_td2 + wl+'</td>'+hl_td2+sents[idx].word_freq[wl]+'</td>';

          //wc_sub.text = wl;
          //wc_sub.size = (sents[idx].word_freq[wl])*20;
          //wc_list[n1] = wc_sub;
          wc_list.push({"text":wl, "size":(sents[idx].word_freq[wl])*6});

          n1=n1+1;
        }

        total_wc[chk]=wc_list;

        n1=n1-1;
        if(chk==1) break;
        chk=chk+1;
      }
      chk =0;
      for(let i=0; i<freqs.length; i++) {
        dic_freq = dic_freq + '<tr>' + freqs[i] + '</tr>'
      }

      islabel.innerHTML = slabel;
      //islabel.innerHTML = JSON.stringify(total_wc[0]);
      idic_freq.innerHTML =dic_freq;

  };


</script>

{% endblock %}