{% load socialaccount %}
{% load mathfilters %}
{% load i18n %}



<nav class="col-12 navbar sticky-top bg-white navbar-expand-lg flex-column mt-3 border-bottom px-md-3 px-xl-5">
  <div class="container-fluid" >
    <a class="navbar-brand" href="/">
      <img src="/media/symbol/tebah_symbol01.png" width="30" height="33" >
      <img src="/media/symbol/tebah_symbol03.png" height="20" >
    </a>
    <!-- 반응형 햄버거 -->
    <button
      class="navbar-toggler m-0 p-0 custom-hamburger"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="dripicons-menu" ></i>
    </button>

    <div class="collapse navbar-collapse mt-0 p-1 justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav d-flex">
        <li class="nav-item active">
          <a class="nav-link" href="/interviews/" >
            <i class="dripicons-list" style="font-size: 18px;"></i>
            <strong>상담리스트</strong>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/interviews/create/norm/" >
            <i class="dripicons-document-edit" style="font-size: 18px;"></i>
            <strong>상담작성</strong>
          </a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="/accounts/logout/">
              <i class="dripicons-exit" style="font-size: 20px;"></i>
              <strong>로그아웃</strong>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>

    <!-- <div class="d-none d-lg-inline-block nav-item m-0 p-0">
      <strong style="font-size: 20px;">{{ user.username }}</strong>님
    </div> -->
  </div>

</nav>

