<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1" cellspacing="0" cellpadding="1">
        <tr>
            <td>구매자 이름</td>
            <td>{{ buyer_data.buyer_name }}</td>
        </tr>
        <tr>
            <td>구매자 휴대폰번호</td>
            <td>{{ buyer_data.buyer_hp }}</td>
        </tr>
        <tr>
            <td>구매자 Email</td>
            <td>{{ buyer_data.buyer_email }}</td>
        </tr>
        <tr>
            <td>구매금액</td>
            <td>{{ buyer_data.buy_total }}</td>
        </tr>
    </table>
</body>
</html>