{% extends 'interviews/interviews_base.html' %}
{% load static %}
{% block head_content %}

{% endblock %}

{% block subnav_area %}
{% endblock %}


{% block main_area %}
{% if message == 'success' %}
    <h3>
        주문 완료
    </h3>

    <h5>
        결제금액 : {{ orderAmount }}
    </h5>
    <h5>
        추가된 시간 : {{ addTime }}
    </h5>     
    <h5>
        잔여 시간 : {{ manager.paid_time }}
    </h5>       
{% elif message == 'cancel' %}
    <h3>
        취소 완료
    </h3>

    <h5>
        최소금액 : {{ orderAmount }}
    </h5>
    <h5>
        최소된 시간 : {{ addTime }}
    </h5>     
    <h5>
        잔여 시간 : {{ manager.paid_time }}
    </h5>    
{% endif %}
{% endblock %}

{% block link_area %}
{% endblock %}