{% extends 'interviews/interviews_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% block css_content %}
<!-- plugin js -->
<script src="{% static 'interviews/bootstrap/assets/js/vendor/dropzone.min.js' %}"></script>

{% endblock %}


{% block subnav_area %}
{% endblock %}

{% block main_area %}
<p class="h3"> 쿠폰 등록 </p>
<form class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit="return submitchk();" >
{% csrf_token %}
{% if message == 'norm' %}
    <div class="alert alert-info" role="alert">
    <i class="dripicons-user"></i> <strong>쿠폰을 사용하려면 사용등록을 해야합니다.</strong>
    </div>
{% elif message == 'success' %}
    <div class="alert alert-info" role="alert">
       {% with mtime=manager.max_time utime=manager.use_time ptime=manager.paid_time %}
        {% with ctime=mtime|sub:utime %}
          <strong>충전완료! 사용가능 시간은 {{ ptime|add:ctime }}분 입니다.</strong>
        {% endwith %}
      {% endwith %}
    </div>
{% elif message == 'none' %}

    <div class="alert alert-danger" role="alert">
    <i class="dripicons-wrong me-2"></i> <strong>존재하지 않는 쿠폰번호입니다 !!</strong>
    </div>
{% elif message == 'expired' %}
    <div class="alert alert-danger" role="alert">
    <i class="dripicons-wrong me-2"></i> <strong>등록 유효기간이 만료되었습니다 !!</strong>
    </div>
{% elif message == 'notapproved' %}
    <div class="alert alert-danger" role="alert">
    <i class="dripicons-wrong me-2"></i> <strong>입금확인이 되지않은 쿠폰이라 아직 사용할 수 없습니다.</strong>
    </div>
{% elif message == 'already' %}
    <div class="alert alert-danger" role="alert">
    <i class="dripicons-wrong me-2"></i> <strong>동일한 쿠폰번호로 등록된 사용자는 중복해서 등록할 수 없습니다.</strong>
    </div>
{% elif message == 'overcount' %}
    <div class="alert alert-danger" role="alert">
    <i class="dripicons-wrong me-2"></i> <strong>이미 사용되었거나 사용인원이 초과되었습니다!!</strong>
    </div>
{% endif %}

{% if message != 'success' %}
    <div class="mb-3">
        <label for="id_coupon_code" class="form-label">쿠폰번호</label>
        <input type="text" id="id_coupon_code" class="form-control" name="coupon_code">
    </div>
    <button id="button1" class="btn btn-primary" type="submit" >
        사용 등록
    </button>
{% endif %}
</form>
<script>
    function submitchk() {
    }
</script>
{% endblock %}

{% block link_area %}
{% endblock %}