{% load socialaccount %}
<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">

    <div class="collapse navbar-collapse col-1" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-0 mb-lg-0">
        <a class="navbar-brand" href="/interviews/client/{{interviews.client.pk}}" style="font-size:medium; padding-top:0;">&nbsp
          <strong><i class="dripicons-user" style="padding-top:0;"></i>&nbsp{{client_info.name}}</strong></a>
      </ul>
      <ul class="navbar-nav me-auto mb-0 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:medium; padding-top:1;">
            <strong> 메뉴선택</strong>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ interviews.get_absolute_url }}" style="font-size:medium; padding:3">
                  &nbsp&nbsp<i class="dripicons-clipboard"></i><strong>상담전체</strong></a></li>
            {% if interviews.stt_lang == 'ko-KR' %}
            <li><a class="dropdown-item" href="{{ interviews.get_sentimental_url }}" style="font-size:medium; padding:3">
                  &nbsp&nbsp<i class="dripicons-heart"></i><strong>감정분석</strong></a></li>
            <li><a class="dropdown-item" href="{{ interviews.get_wordcloud_url }}" style="font-size:medium; padding:3">
                  &nbsp&nbsp<i class="dripicons-graph-pie"></i><strong>단어분석</strong></a></li>
            {% else %}
            <li><a class="dropdown-item" href="#" style="font-size:medium; padding:3">
                  &nbsp&nbsp<i class="dripicons-heart"></i>감정분석(준비중)</a></li>
            <li><a class="dropdown-item" href="#" style="font-size:medium; padding:3">
                  &nbsp&nbsp<i class="dripicons-graph-pie"></i>단어분석(준비중)</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-11"></div>

  </div>
</nav>


