<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
파일 다운로드 중...
</body>
<script>
    window.onload = function () {
        download( "{{ vfile }}");
        location.href = "/interviews/detail/view/{{ interview_pk }}/";
    }
    function download(filename) {
          var element = document.createElement('a');
          //element.setAttribute('href','/media/interviews/hwp/'+filename);
          fname = filename.substr(filename.lastIndexOf('/')+1,-1)
          element.setAttribute('href',filename);
          element.setAttribute('download', fname);
          document.body.appendChild(element);
          element.click();
          //document.body.removeChild(element);
    }
</script>
</html>
